<div class="modal-header">
    <button class="close" type="button" data-dismiss="modal">&times;</button>
    <h3 class="modal-title text-capitalize">About</h3>
</div>

<div class="modal-body">
    <p>This game is a cross between <a href="https://en.wikipedia.org/wiki/Pictionary" target="_blank">Pictionary</a> and <a href="http://getemoji.com/" target="_blank">Emojis</a>! 😁 Start a room or join one to play. Set your question with emojis and the answer with words</p> 

    <p>Feel free to <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Femotionary.herokuapp.com" target="_blank">share</a> this game if you enjoyed it. For bugs and feature requests submit it on <a href="https://github.com/madsonic/emotionary/issues" target="_blank">Github</a>. Help to propel this game further 🚀 by giving feedback <a href="http://goo.gl/forms/MGmrU8a5ZX" target="_blank">here</a>.</p>

    <p>Made with <a href="socket.io">socket.io</a>. Beautified by <a href="http://getbootstrap.com/">Bootstrap</a></p>
</div> <!-- modal-body -->