<div class="modal-header">
    <button class="close" type="button" data-dismiss="modal">&times;</button>
    <h3 class="modal-title text-capitalize">create room</h3>
</div>

<div class="modal-body">
    <form id="create-room" role="form">
        <div class="form-group has-feedback">
            <label>Room Name</label>
            <input type="text" class="form-control" placeholder="Room Name">
            <span class='glyphicon form-control-feedback'></span>
        </div> <!-- form-group -->
        <button class="btn btn-success text-capitalize" type="submit" disabled>create!</button>
    </form> <!-- form -->
</div> <!-- modal-body -->
