<div class="modal-header">
    <button class="close" type="button" data-dismiss="modal">&times;</button>
    <h3 class="modal-title text-capitalize">End Game :(</h3>
</div>

<div class="modal-body">
    <form id="end-game" role="form">
        <button class="btn btn-success text-capitalize" type="button" data-dismiss="modal">Continue the joy!</button>
        <button class="btn btn-danger text-capitalize" type="submit">End the happiness</button>
    </form> <!-- form -->
</div> <!-- modal-body -->
