<div class="modal-header">
    <button class="close" type="button" data-dismiss="modal">&times;</button>
    <h3 class="modal-title text-capitalize">Set your question!</h1>
</div>

<div class="modal-body">
    <form id="make-game" role="form">
        <div class="form-group">
            <label><span class="glyphicon glyphicon-question-sign"></span>Question</label>
            <input class="form-control" id="qns" type="text" placeholder="Emojis only!" readonly>
            <label><span class="glyphicon glyphicon-check"></span>Answer</label>
            <input class="form-control" type="text" placeholder="Answer">
            <label><span class="glyphicon glyphicon-tag"></span>Category</label>
            <input class="form-control" type="text" placeholder="Optional">
        </div> <!-- form-group -->
        <button class="btn btn-success text-capitalize" type="submit">start game</button>
    </form> <!-- form -->
</div> <!-- modal-body -->