<div class="modal-header">
    <h1 class="modal-title text-capitalize">Welcome to Emotionary! 😍</h1>
</div>

<div class="modal-body">
    <form id="registration" role="form">
        <div class="form-group has-feedback">
            <label><span class="glyphicon glyphicon-user"></span>Nickname</label>
            <input class="form-control" type="text" placeholder="Chose a unique nickname">
            <span class='glyphicon form-control-feedback'></span>
        </div> <!-- form-group -->
        <button class="btn btn-default btn-success text-capitalize" type="submit" disabled>let's go</button>
    </form> <!-- form -->
</div> <!-- modal-body -->