<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Welcome to Quizbomb!</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <form>
            <div class="form-group col-xs-12">
                <label for="nickname">Nickname</label>
                <input type="text" class="form-control" placeholder="Set a nickname to start playing">
            </div>
            <div class="row">
                <div class="col-xs-offset-5">
                    <button type="submit" class="btn btn-success">Let's GO!</button>
                </div>
            </div>
        </form>
    </div>
</div>