// Messages

#messages
  @include no-lr-padding
  padding-top: $navbar-height
  padding-bottom: $text-box-height
  margin: 0
  list-style-type: none

  li
    padding: 5px 10px

  li:nth-child(odd)
    background: #eee
